@{
    ViewData["Title"] = "Manage Job";
}

<div id="employer-job-manage" data-id="@ViewBag.id"></div>

@section Styles {
    <link href="@Url.Content("~/css/TalentTheme.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/js/react/dist/employerManageJobs.bundle.js"></script>
}